<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<h1>User List</h1>

<!-- Блок для отображения сообщения об ошибке -->
<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<!-- Блок для отображения успешного сообщения -->
<div th:if="${message}">
    <p style="color: green;" th:text="${message}"></p>
</div>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>UserName</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Email</th>
        <th>Пароль</th>
        <th>Роль</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.roles}"></td>
        <td th:text="${user.password}"></td>

        <td>
            <form th:action="@{/admin/edit/{id}(id=${user.id})}" method="get">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">Update</button>
            </form>
        </td>

        <td>
            <form th:action="@{/admin/delete}" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" >Delete</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

<a th:href="@{/admin/add}">Создать нового пользователя</a>
<br>
<a th:href="@{/logout}">Сменить пользователя</a>
</body>
</html>