<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<h2>Редактирование пользователя</h2>

<form th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}"  />
    <p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
    <br/>

    <label for="password">Пароль:</label>
    <input type="text" id="password" th:field="*{password}"  />
    <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <br/>

    <label for="name">Имя:</label>
    <input type="text" id="name" th:field="*{name}"  />
    <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <br/>
    <label for="lastName">Фамилия:</label>
    <input type="text" id="lastName" th:field="*{lastName}"  />
    <p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    <br/>

    <label for="age">Возраст:</label>
    <input type="number" id="age" th:field="*{age}" />
    <p class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
    <br/>

    <label for="email">Email:</label>
    <input type="text" id="email" th:field="*{email}"  />
    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <br/>

    <button type="submit">Сохранить</button>
</form>
<form method="get" th:action="@{/admin}">
    <input type="submit" value="Вернуться к таблице пользователей">
</form>
</body>
</html>