<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Panel</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Шапка -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-text text-white">
            <strong id="usernamePlaceholder"></strong>
            <span class="text-light ms-2">with roles:</span>
            <span id="userRoles"></span>
        </span>
        <form action="/logout" method="post" class="d-inline">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</nav>

<!-- Общий контейнер с фоном -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-light vh-100">
            <ul class="list-unstyled">
                <div class="btn-group-vertical" role="group" aria-label="Basic example" style="width: 100%;">
                    <a sec:authorize="hasRole('ADMIN')" href="/admin" class="btn btn-light" role="button">Admin</a>
                    <a href="/user" class="btn btn-primary active" role="button"
                       style="background-color: #007BFF; border-color: #007BFF;">User</a>
                </div>
            </ul>
        </div>

        <div class="col-10">
            <div class="container mt-4">
                <h1 class="mb-4">User Information</h1>
                <div class="card">
                    <div class="card-header">
                        <h5>About user</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Lastname</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="userTableBody">
                            <!-- Данные пользователя будут добавлены через JS -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/user.js"></script>
</body>
</html>